body {
  margin: 0;
}

.section {
  /* background-image: url('assets/images/bg.png'); */
  /* width: 1395px;
  height: 656px; */
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.row {
  justify-content: center;
  position: fixed;
  width: 100%;
}

.container {
  background-color: white;
  width: 300px;
  height: 400px;
  border-radius: 15px;
  margin-top: 100px;
  margin-left: 550px;
  box-shadow: 5px 4px 15px rgba(252, 113, 105, 0.5);
  margin-left: auto;
  margin-right: auto;
}

#log {
  font-size: 10px;
  margin-left: 50px;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #fc7169;
  width: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  width: 10px;
}
