{% extends "users/base.html" %}
{% load static %}
{% block content %}

<div class="starttest ">
    <div class="container">     
    <div class="row justify-content-around " >
        <div class="col-lg-2 col-left"></div>
        <div class=" col-lg-8 banner-text text-center align-middle my-4 px-4">
            <p>TEST YOUR SCORE</p>
            <div class="head-white" >Understanding your current level of stress is the first step in taking control</div>
       </div>
       <div class="col-lg-2 col-right"></div>
    </div>
     </div>       
  </div>
  <div>
    {{score}}
    {{depressionlevel}}
    {{anxietylevel}}
    {{stresslevel}}
  <div class="row" style="background-color: #fffcde; padding: 50px;">
    <div class="col-md-4 " style="place-items: center; display: grid;">
        <div id="chart-depression">FusionCharts XT will load here!</div>
        {{depressionlevel}}
      </div>
     
      <div class="col-md-4 " style="place-items: center; display: grid;">
        <div id="chart-anxiety">FusionCharts XT will load here!</div>
        {{anxietylevel}}
      </div>
   
      <div class="col-md-4 " style="place-items: center; display: grid;">
        <div id="chart-stress">FusionCharts XT will load here!</div>
        {{stresslevel}}
      </div>
    
</div>
</div>


<script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
	<script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
	<script type="text/javascript">
		FusionCharts.ready(function(){
			var chartObj = new FusionCharts({
    type: 'angulargauge',
    renderAt: 'chart-depression',
    width: '450',
    height: '300',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Depression",
            "showValue": "0",
            "lowerLimit": "1",
            "upperLimit": "42",
            "theme": "fusion"
        },
        "colorRange": {
            "color": [{
                "minValue": "0",
                "maxValue": "9",
                "code": "#FFFCDE"
            }, {
                "minValue": "9",
                "maxValue": "13",
                "code": "#FFECDE"
            },
            {
                "minValue": "13",
                "maxValue": "20",
                "code": "#FFC7B6"
            },{
                "minValue": "20",
                "maxValue": "27",
                "code": "#FC7169"
            },{
                "minValue": "28",
                "maxValue": "42",
                "code": "#413243"
            }
            ]
        },
        "dials": {
            "dial": [{
                "value": {{score}}
            }]
        }
    }
}
);
			chartObj.render();
		});








        FusionCharts.ready(function(){
			var chartObj = new FusionCharts({
    type: 'angulargauge',
    renderAt: 'chart-anxiety',
    width: '450',
    height: '300',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "Anxiety",
            "showValue": "0",
            "lowerLimit": "0",
            "upperLimit": "42",
            "theme": "fusion"
        },
        "colorRange": {
            "color": [{
                "minValue": "0",
                "maxValue": "7",
                "code": "#FFFCDE"
            }, {
                "minValue": "7",
                "maxValue": "9",
                "code": "#FFECDE"
            },
            {
                "minValue": "9",
                "maxValue": "14",
                "code": "#FFC7B6"
            },{
                "minValue": "14",
                "maxValue": "19",
                "code": "#FC7169"
            },{
                "minValue": "19",
                "maxValue": "42",
                "code": "#413243"
            }
            ]
        },
        "dials": {
            "dial": [{
                "value": {{score}}
            }]
        }
    }
}
);
			chartObj.render();
		});








        FusionCharts.ready(function(){
			var chartObj = new FusionCharts({
    type: 'angulargauge',
    renderAt: 'chart-stress',
    width: '450',
    height: '300',
    dataFormat: 'json',
    dataSource: {
        "chart": {
            "caption": "PHQ 9 Score",
            "showValue": "0",
            "lowerLimit": "0",
            "upperLimit": "42",
            "theme": "fusion"
        },
        "colorRange": {
            "color": [{
                "minValue": "0",
                "maxValue": "14",
                "code": "#FFFCDE"
            }, {
                "minValue": "14",
                "maxValue": "18",
                "code": "#FFECDE"
            },
            {
                "minValue": "18",
                "maxValue": "25",
                "code": "#FFC7B6"
            },{
                "minValue": "25",
                "maxValue": "33",
                "code": "#FC7169"
            },{
                "minValue": "33",
                "maxValue": "42",
                "code": "#413243"
            }
            ]
        },
        "dials": {
            "dial": [{
                "value": {{score}}
            }]
        }
    }
}
);
			chartObj.render();
		});
	</script>
{% endblock content %}