{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add Child</title>
    <link rel="stylesheet" href="{% static 'css/phq9.css' %}" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <body class="form-page">
    <div class="row form-row mx-auto">
      <div class="formsection">
        <!-- <div id="title">
          <h4>PHQ9 Questionnaire</h4>
        </div> -->
        <div class="pt-5 px-5" id="quest">
          <form method="POST" class="my-login-validation" action="/phq">
            {% csrf_token %}
            <div class="form-group-dass form-group">
              <div class="question">
                1. Little interest or pleasure in doing things
              </div>
              <div
                id="question1"
                class="d-flex flex-row justify-content-around"
              >
                <div class="form-check option">
                  <input
                    class="form-check-input"
                    type="radio"
                    value="0"
                    name="question1"
                    id=" Not_at_all"
                  />
                  Never
                </div>

                <div class="form-check option">
                  <input
                    class="form-check-input"
                    type="radio"
                    value="1"
                    name="question1"
                    id="Several_days"
                  />Sometimes
                </div>
                <div class="form-check option">
                  <input
                    class="form-check-input"
                    type="radio"
                    value="2"
                    name="question1"
                    id="More_than_half_the_days"
                  />Often
                </div>
                <div class="form-check option">
                  <input
                    class="form-check-input"
                    type="radio"
                    value="3"
                    name="question1"
                    id="Nearly_every_day"
                  />Always
                </div>
              </div>
            </div>
            <div class="form-group-dass form-group">
              <div class="question">
                1. Little interest or pleasure in doing things
              </div>
              <div
                id="question1"
                class="d-flex flex-row justify-content-around"
              >
                <div class="form-check option">
                  <input
                    class="form-check-input"
                    type="radio"
                    value="0"
                    name="question1"
                    id=" Not_at_all"
                  />
                  Never
                </div>

                <div class="form-check option">
                  <input
                    class="form-check-input"
                    type="radio"
                    value="1"
                    name="question1"
                    id="Several_days"
                  />Sometimes
                </div>
                <div class="form-check option">
                  <input
                    class="form-check-input"
                    type="radio"
                    value="2"
                    name="question1"
                    id="More_than_half_the_days"
                  />Often
                </div>
                <div class="form-check option">
                  <input
                    class="form-check-input"
                    type="radio"
                    value="3"
                    name="question1"
                    id="Nearly_every_day"
                  />Always
                </div>
              </div>
            </div>
            <div class="form-group-dass form-group">
              <div class="question">
                1. Little interest or pleasure in doing things
              </div>
              <div
                id="question1"
                class="d-flex flex-row justify-content-around"
              >
                <div class="form-check option">
                  <input
                    class="form-check-input"
                    type="radio"
                    value="0"
                    name="question1"
                    id=" Not_at_all"
                  />
                  Never
                </div>

                <div class="form-check option">
                  <input
                    class="form-check-input"
                    type="radio"
                    value="1"
                    name="question1"
                    id="Several_days"
                  />Sometimes
                </div>
                <div class="form-check option">
                  <input
                    class="form-check-input"
                    type="radio"
                    value="2"
                    name="question1"
                    id="More_than_half_the_days"
                  />Often
                </div>
                <div class="form-check option">
                  <input
                    class="form-check-input"
                    type="radio"
                    value="3"
                    name="question1"
                    id="Nearly_every_day"
                  />Always
                </div>
              </div>
            </div>
            <div class="form-group-dass form-group">
              <div class="question">
                1. Little interest or pleasure in doing things
              </div>
              <div
                id="question1"
                class="d-flex flex-row justify-content-around"
              >
                <div class="form-check option">
                  <input
                    class="form-check-input"
                    type="radio"
                    value="0"
                    name="question1"
                    id=" Not_at_all"
                  />
                  Never
                </div>

                <div class="form-check option">
                  <input
                    class="form-check-input"
                    type="radio"
                    value="1"
                    name="question1"
                    id="Several_days"
                  />Sometimes
                </div>
                <div class="form-check option">
                  <input
                    class="form-check-input"
                    type="radio"
                    value="2"
                    name="question1"
                    id="More_than_half_the_days"
                  />Often
                </div>
                <div class="form-check option">
                  <input
                    class="form-check-input"
                    type="radio"
                    value="3"
                    name="question1"
                    id="Nearly_every_day"
                  />Always
                </div>
              </div>
            </div>

            <div id="submit">
              <button class="btn submit-form" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
    <script src="..\..\static\js\add-child-form.js"></script>
    <script
      type="text/javascript"
      src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"
    ></script>
    <script>
      function googleTranslateElementInit() {
        new google.translate.TranslateElement(
          {
            pageLanguage: "en",
            includedLanguages: "bn,en,gu,hi,kn,ml,mr,ne,or,pa,sd,si,ta,te,ur",
          },
          "google_translate_element"
        );
      }
    </script>
  </body>
</html>
