{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <link href="{% static 'css/form.css' %}" rel="stylesheet"/>
    <title>Document</title>
</head>
<body>
    <div class="herosection">
        <div class="row">
            <div class="formsection">
                <div class="row" id="set">
                    <div class="row" id="question">
                        <p>Nunc sodales efficitur arcu, non interdum ante venenatis vitae. Maecenas consectetur suscipit lectus eu fermentum. In hac habitasse platea dictumst.</p>
                    </div>
                    <div class="grid-container" id="options">
                        <div><button>non interdum ante</button></div>
                        <div><button>non interdum ante</button></div>
                        <div><button>non interdum ante</button></div>
                        <div><button>non interdum ante</button></div>
                        <div><button>non interdum ante</button></div>
                    </div>
                </div>
                <div class="row" id="set">
                    <div class="row" id="question">
                        <p>Nunc sodales efficitur arcu, non interdum ante venenatis vitae. Maecenas consectetur suscipit lectus eu fermentum. In hac habitasse platea dictumst.</p>
                    </div>
                    <div class="grid-container" id="options">
                        <div><button>non interdum ante</button></div>
                        <div><button>non interdum ante</button></div>
                        <div><button>non interdum ante</button></div>
                        <div><button>non interdum ante</button></div>
                        <div><button>non interdum ante</button></div>
                    </div>
                </div>
                <div class="row" id="set">
                    <div class="row" id="question">
                        <p>Nunc sodales efficitur arcu, non interdum ante venenatis vitae. Maecenas consectetur suscipit lectus eu fermentum. In hac habitasse platea dictumst.</p>
                    </div>
                    <div class="grid-container" id="options">
                        <div><button>non interdum ante</button></div>
                        <div><button>non interdum ante</button></div>
                        <div><button>non interdum ante</button></div>
                        <div><button>non interdum ante</button></div>
                        <div><button>non interdum ante</button></div>
                    </div>
                </div>
                <div class="row" id="set">
                    <div class="row" id="question">
                        <p>Nunc sodales efficitur arcu, non interdum ante venenatis vitae. Maecenas consectetur suscipit lectus eu fermentum. In hac habitasse platea dictumst.</p>
                    </div>
                    <div class="grid-container" id="options">
                        <div><button>non interdum ante</button></div>
                        <div><button>non interdum ante</button></div>
                        <div><button>non interdum ante</button></div>
                        <div><button>non interdum ante</button></div>
                        <div><button>non interdum ante</button></div>
                    </div>
                </div>
                <div class="row" id="set">
                    <div class="row" id="question">
                        <p>Nunc sodales efficitur arcu, non interdum ante venenatis vitae. Maecenas consectetur suscipit lectus eu fermentum. In hac habitasse platea dictumst.</p>
                    </div>
                    <div class="grid-container" id="options">
                        <div><button>non interdum ante</button></div>
                        <div><button>non interdum ante</button></div>
                        <div><button>non interdum ante</button></div>
                        <div><button>non interdum ante</button></div>
                        <div><button>non interdum ante</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>











                               <!-- <div class="form-group">
                                    <label for="question2">. Feeling down, depressed, or hopeless</label>
                                    <div id="question2" class="form-group d-flex flex-row justify-content-around">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="0" name="question2" id=" Not_at_all">
                                            <label class="form-check-label" for="question2">
                                                Not at all
                                            </label>
                                            </div>

                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" value="1" name="question2" id="Several_days">
                                                <label class="form-check-label" for="question2">
                                                    Several days
                                                </label>
                                                </div>

                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" value="2" name="question2" id="More_than_half_the_days">
                                                    <label class="form-check-label" for="question2">
                                                        More than half the days
                                                    </label>
                                                    </div>

                                            <div class="form-check">
                                            <input class="form-check-input" type="radio" value="3" name="question2" id=" Nearly_every_day">
                                            <label class="form-check-label" for="question2">
                                                Nearly every day
                                            </label>
                                            </div>
                                    </div>
								</div>

                                
                                <div class="form-group">
                                    <label for="question3">Trouble falling or staying asleep, or sleeping too much</label>
                                    <div id="question3" class="form-group d-flex flex-row justify-content-around">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="0" name="question3" id=" Not_at_all">
                                            <label class="form-check-label" for="question3">
                                                Not at all
                                            </label>
                                            </div>

                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" value="1" name="question3" id="Several_days">
                                                <label class="form-check-label" for="question3">
                                                    Several days
                                                </label>
                                                </div>

                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" value="2" name="question3" id="More_than_half_the_days">
                                                    <label class="form-check-label" for="question3">
                                                        More than half the days
                                                    </label>
                                                    </div>

                                            <div class="form-check">
                                            <input class="form-check-input" type="radio" value="3" name="question3" id=" Nearly_every_day">
                                            <label class="form-check-label" for="question3">
                                                Nearly every day
                                            </label>
                                            </div>
                                    </div>
								</div>

                                
                                <div class="form-group">
                                    <label for="question4">Feeling tired or having little energy</label>
                                    <div id="question4" class="form-group d-flex flex-row justify-content-around">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="0" name="question4" id=" Not_at_all">
                                            <label class="form-check-label" for="question4">
                                                Not at all
                                            </label>
                                            </div>

                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" value="1" name="question4" id="Several_days">
                                                <label class="form-check-label" for="question4">
                                                    Several days
                                                </label>
                                                </div>

                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" value="2" name="question4" id="More_than_half_the_days">
                                                    <label class="form-check-label" for="question4">
                                                        More than half the days
                                                    </label>
                                                    </div>

                                            <div class="form-check">
                                            <input class="form-check-input" type="radio" value="3" name="question4" id=" Nearly_every_day">
                                            <label class="form-check-label" for="question4">
                                                Nearly every day
                                            </label>
                                            </div>
                                    </div>
								</div>
                                <div class="form-group">
                                    <label for="question4">Little interest or pleasure in doing things</label>
                                    <div id="question4" class="form-group d-flex flex-row justify-content-around">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="1" name="question4" id=" Not_at_all">
                                            <label class="form-check-label" for="question4">
                                                Not at all
                                            </label>
                                            </div>
                                
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" value="2" name="question4" id="Several_days">
                                                <label class="form-check-label" for="question4">
                                                    Several days
                                                </label>
                                                </div>
                                
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" value="3" name="question4" id="More_than_half_the_days">
                                                    <label class="form-check-label" for="question4">
                                                        More than half the days
                                                    </label>
                                                    </div>
                                
                                            <div class="form-check">
                                            <input class="form-check-input" type="radio" value="4" name="question4" id=" Nearly_every_day">
                                            <label class="form-check-label" for="question4">
                                                Nearly every day
                                            </label>
                                            </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="question5">Poor appetite or overeating?</label>
                                    <div id="question5" class="form-group d-flex flex-row justify-content-around">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="1" name="question5" id=" Not_at_all">
                                            <label class="form-check-label" for="question5">
                                                Not at all
                                            </label>
                                            </div>
                                
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" value="2" name="question5" id="Several_days">
                                                <label class="form-check-label" for="question5">
                                                    Several days
                                                </label>
                                                </div>
                                
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" value="3" name="question5" id="More_than_half_the_days">
                                                    <label class="form-check-label" for="question5">
                                                        More than half the days
                                                    </label>
                                                    </div>
                                
                                            <div class="form-check">
                                            <input class="form-check-input" type="radio" value="4" name="question5" id=" Nearly_every_day">
                                            <label class="form-check-label" for="question5">
                                                Nearly every day
                                            </label>
                                            </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="question6">Feeling bad about yourself - or that you are a failure or have let yourself or your family down?</label>
                                    <div id="question6" class="form-group d-flex flex-row justify-content-around">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="1" name="question6" id=" Not_at_all">
                                            <label class="form-check-label" for="question6">
                                                Not at all
                                            </label>
                                            </div>
                                
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" value="2" name="question6" id="Several_days">
                                                <label class="form-check-label" for="question6">
                                                    Several days
                                                </label>
                                                </div>
                                
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" value="3" name="question6" id="More_than_half_the_days">
                                                    <label class="form-check-label" for="question6">
                                                        More than half the days
                                                    </label>
                                                    </div>
                                
                                            <div class="form-check">
                                            <input class="form-check-input" type="radio" value="4" name="question6" id=" Nearly_every_day">
                                            <label class="form-check-label" for="question6">
                                                Nearly every day
                                            </label>
                                            </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="question7">Trouble concentrating on things, such as reading the newspaper or watching television?</label>
                                    <div id="question7" class="form-group d-flex flex-row justify-content-around">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="1" name="question7" id=" Not_at_all">
                                            <label class="form-check-label" for="question7">
                                                Not at all
                                            </label>
                                            </div>
                                
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" value="2" name="question7" id="Several_days">
                                                <label class="form-check-label" for="question7">
                                                    Several days
                                                </label>
                                                </div>
                                
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" value="3" name="question7" id="More_than_half_the_days">
                                                    <label class="form-check-label" for="question7">
                                                        More than half the days
                                                    </label>
                                                    </div>
                                
                                            <div class="form-check">
                                            <input class="form-check-input" type="radio" value="4" name="question7" id=" Nearly_every_day">
                                            <label class="form-check-label" for="question7">
                                                Nearly every day
                                            </label>
                                            </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="question8">Moving or speaking so slowly that other people could have noticed?
                                        Or the opposite - being so fidgety or restless that you have been moving around a lot more than usual?</label>
                                    <div id="question8" class="form-group d-flex flex-row justify-content-around">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="1" name="question8" id=" Not_at_all">
                                            <label class="form-check-label" for="question8">
                                                Not at all
                                            </label>
                                            </div>
                                
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" value="2" name="question8" id="Several_days">
                                                <label class="form-check-label" for="question8">
                                                    Several days
                                                </label>
                                                </div>
                                
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" value="3" name="question8" id="More_than_half_the_days">
                                                    <label class="form-check-label" for="question8">
                                                        More than half the days
                                                    </label>
                                                    </div>
                                
                                            <div class="form-check">
                                            <input class="form-check-input" type="radio" value="4" name="question8" id=" Nearly_every_day">
                                            <label class="form-check-label" for="question8">
                                                Nearly every day
                                            </label>
                                            </div>
                                    </div>
                                </div>
                                div class="form-group">
                                    <label for="question9">Thoughts that you would be better off dead, or of hurting yourself in some way?</label>
                                    <div id="question9" class="form-group d-flex flex-row justify-content-around">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" value="1" name="question9" id=" Not_at_all">
                                            <label class="form-check-label" for="question9">
                                                Not at all
                                            </label>
                                            </div>
                                
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio" value="2" name="question9" id="Several_days">
                                                <label class="form-check-label" for="question9">
                                                    Several days
                                                </label>
                                                </div>
                                
                                                <div class="form-check">
                                                    <input class="form-check-input" type="radio" value="3" name="question9" id="More_than_half_the_days">
                                                    <label class="form-check-label" for="question9">
                                                        More than half the days
                                                    </label>
                                                    </div>
                                
                                            <div class="form-check">
                                            <input class="form-check-input" type="radio" value="4" name="question9" id=" Nearly_every_day">
                                            <label class="form-check-label" for="question9">
                                                Nearly every day
                                            </label>
                                            </div>
                                    </div>
                                </div>
                                                      


