{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Child</title>
    <link rel="stylesheet" href="{% static 'css/phq.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <button type="button" class="float-right btn-test-info" data-toggle="modal" data-target="#exampleModal">What is PHQ 9</button>

		<div class="form-page ">
            <div class="row">
			<div class="formsection">
            <div id="title">
                <h4>PHQ9 Questionnaire</h4>
            </div>
            <div id="quest">
			<form method="POST" class="my-login-validation" action="/phq">{% csrf_token %}
                <div class="form-group">
                    <label for="question1"><p id="question">1. Little interest or pleasure in doing things</p></label>
                    <div id="question1" class=" d-flex flex-row justify-content-start">
                        <div class="form-check" id="option">
                            <input class="form-check-input" type="radio" value="0" name="question1" id=" Not_at_all">
                            <label class="form-check-label" for="question1">Not at all</label>
                        </div>
                        <div class="form-check" id="option">
                            <input class="form-check-input" type="radio" value="1" name="question1" id="Several_days">
                            <label class="form-check-label" for="question1">Several Days</label>
                        </div>
                        <div class="form-check" id="option">
                            <input class="form-check-input" type="radio" value="2" name="question1" id="More_than_half_the_days">
                            <label class="form-check-label" for="question1">More than half the days</label>
                        </div>
                        <div class="form-check" id="option">
                            <input class="form-check-input" type="radio" value="3" name="question1" id="Nearly_every_day">
                            <label class="form-check-label" for="question1">Nearly every day</label>
                        </div>
                    </div>            
                </div>
                <div class="form-group">
                    <label for="question2"><p id="question">2. Feeling down, depressed, or hopeless</p></label>
                    <div id="question2" class=" d-flex flex-row justify-content-start">
                        <div class="form-check" id="option">
                            <input class="form-check-input" type="radio" value="0" name="question2" id=" Not_at_all">
                            <label class="form-check-label" for="question2">Not at all</label>
                        </div>
                        <div class="form-check" id="option">
                            <input class="form-check-input" type="radio" value="1" name="question2" id="Several_days">
                            <label class="form-check-label" for="question2">Several Days</label>
                        </div>
                        <div class="form-check" id="option">
                            <input class="form-check-input" type="radio" value="2" name="question2" id="More_than_half_the_days">
                            <label class="form-check-label" for="question2">More than half the days</label>
                        </div>
                        <div class="form-check" id="option">
                            <input class="form-check-input" type="radio" value="3" name="question2" id="Nearly_every_day">
                            <label class="form-check-label" for="question2">Nearly every day</label>
                        </div>
                    </div>            
                </div>
                <div class="form-group">
                    <label for="question3"><p id="question">3. Trouble falling or staying asleep, or sleeping too much</p></label>
                    <div id="question3" class=" d-flex flex-row justify-content-start">
                        <div class="form-check" id="option">
                            <input class="form-check-input" type="radio" value="0" name="question3" id=" Not_at_all">
                            <label class="form-check-label" for="question3">Not at all</label>
                        </div>
                        <div class="form-check" id="option">
                            <input class="form-check-input" type="radio" value="1" name="question3" id="Several_days">
                            <label class="form-check-label" for="question3">Several Days</label>
                        </div>
                        <div class="form-check" id="option">
                            <input class="form-check-input" type="radio" value="2" name="question3" id="More_than_half_the_days">
                            <label class="form-check-label" for="question3">More than half the days</label>
                        </div>
                        <div class="form-check" id="option">
                            <input class="form-check-input" type="radio" value="3" name="question3" id="Nearly_every_day">
                            <label class="form-check-label" for="question3">Nearly every day</label>
                        </div>
                    </div>            
                </div>
                <div class="form-group">
                    <label for="question4"><p id="question">4. Feeling tired or having little energy</p></label>
                    <div id="question4" class=" d-flex flex-row justify-content-start">
                        <div class="form-check" id="option">
                            <input class="form-check-input" type="radio" value="0" name="question4" id=" Not_at_all">
                            <label class="form-check-label" for="question4">Not at all</label>
                        </div>
                        <div class="form-check" id="option">
                            <input class="form-check-input" type="radio" value="1" name="question4" id="Several_days">
                            <label class="form-check-label" for="question4">Several Days</label>
                        </div>
                        <div class="form-check" id="option">
                            <input class="form-check-input" type="radio" value="2" name="question4" id="More_than_half_the_days">
                            <label class="form-check-label" for="question4">More than half the days</label>
                        </div>
                        <div class="form-check" id="option">
                            <input class="form-check-input" type="radio" value="3" name="question4" id="Nearly_every_day">
                            <label class="form-check-label" for="question4">Nearly every day</label>
                        </div>
                    </div>            
                </div>
                <div class="form-group">
                    <label for="question5"><p id="question">5. Moving or speaking so slowly that other people could have noticed?
                        Or the opposite - being so fidgety or restless that you have been moving around a lot more than usual?</p></label>
                    <div id="question5" class=" d-flex flex-row justify-content-start">
                        <div class="form-check" id="option">
                            <input class="form-check-input" type="radio" value="0" name="question5" id=" Not_at_all">
                            <label class="form-check-label" for="question5">Not at all</label>
                        </div>
                        <div class="form-check" id="option">
                            <input class="form-check-input" type="radio" value="1" name="question5" id="Several_days">
                            <label class="form-check-label" for="question5">Several Days</label>
                        </div>
                        <div class="form-check" id="option">
                            <input class="form-check-input" type="radio" value="2" name="question5" id="More_than_half_the_days">
                            <label class="form-check-label" for="question5">More than half the days</label>
                        </div>
                        <div class="form-check" id="option">
                            <input class="form-check-input" type="radio" value="3" name="question5" id="Nearly_every_day">
                            <label class="form-check-label" for="question5">Nearly every day</label>
                        </div>
                    </div>            
                </div>
                <div class="form-group">
                    <label for="question6"><p id="question">6. Poor appetite or overeating?</p></label>
                    <div id="question6" class=" d-flex flex-row justify-content-start">
                        <div class="form-check" id="option">
                            <input class="form-check-input" type="radio" value="0" name="question6" id=" Not_at_all">
                            <label class="form-check-label" for="question6">Not at all</label>
                        </div>
                        <div class="form-check" id="option">
                            <input class="form-check-input" type="radio" value="1" name="question6" id="Several_days">
                            <label class="form-check-label" for="question6">Several Days</label>
                        </div>
                        <div class="form-check" id="option">
                            <input class="form-check-input" type="radio" value="2" name="question6" id="More_than_half_the_days">
                            <label class="form-check-label" for="question6">More than half the days</label>
                        </div>
                        <div class="form-check" id="option">
                            <input class="form-check-input" type="radio" value="3" name="question6" id="Nearly_every_day">
                            <label class="form-check-label" for="question6">Nearly every day</label>
                        </div>
                    </div>            
                </div>
                <div class="form-group">
                    <label for="question7"><p id="question">7. Feeling bad about yourself - or that you are a failure or have let yourself or your family down?</p></label>
                    <div id="question7" class=" d-flex flex-row justify-content-start">
                        <div class="form-check" id="option">
                            <input class="form-check-input" type="radio" value="0" name="question7" id=" Not_at_all">
                            <label class="form-check-label" for="question7">Not at all</label>
                        </div>
                        <div class="form-check" id="option">
                            <input class="form-check-input" type="radio" value="1" name="question7" id="Several_days">
                            <label class="form-check-label" for="question7">Several Days</label>
                        </div>
                        <div class="form-check" id="option">
                            <input class="form-check-input" type="radio" value="2" name="question7" id="More_than_half_the_days">
                            <label class="form-check-label" for="question7">More than half the days</label>
                        </div>
                        <div class="form-check" id="option">
                            <input class="form-check-input" type="radio" value="3" name="question7" id="Nearly_every_day">
                            <label class="form-check-label" for="question7">Nearly every day</label>
                        </div>
                    </div>            
                </div>
                <div class="form-group">
                    <label for="question8"><p id="question">8. Thoughts that you would be better off dead, or of hurting yourself in some way?</p></label>
                    <div id="question8" class=" d-flex flex-row justify-content-start">
                        <div class="form-check" id="option">
                            <input class="form-check-input" type="radio" value="0" name="question8" id=" Not_at_all">
                            <label class="form-check-label" for="question8">Not at all</label>
                        </div>
                        <div class="form-check" id="option">
                            <input class="form-check-input" type="radio" value="1" name="question8" id="Several_days">
                            <label class="form-check-label" for="question8">Several Days</label>
                        </div>
                        <div class="form-check" id="option">
                            <input class="form-check-input" type="radio" value="2" name="question8" id="More_than_half_the_days">
                            <label class="form-check-label" for="question8">More than half the days</label>
                        </div>
                        <div class="form-check" id="option">
                            <input class="form-check-input" type="radio" value="3" name="question8" id="Nearly_every_day">
                            <label class="form-check-label" for="question8">Nearly every day</label>
                        </div>
                    </div>            
                </div>
                <div class="form-group">
                    <label for="question9"><p id="question">9. Trouble concentrating on things, such as reading the newspaper or watching television?</p></label>
                    <div id="question9" class=" d-flex flex-row justify-content-start">
                        <div class="form-check" id="option">
                            <input class="form-check-input" type="radio" value="0" name="question9" id=" Not_at_all">
                            <label class="form-check-label" for="question9">Not at all</label>
                        </div>
                        <div class="form-check" id="option">
                            <input class="form-check-input" type="radio" value="1" name="question9" id="Several_days">
                            <label class="form-check-label" for="question9">Several Days</label>
                        </div>
                        <div class="form-check" id="option">
                            <input class="form-check-input" type="radio" value="2" name="question9" id="More_than_half_the_days">
                            <label class="form-check-label" for="question9">More than half the days</label>
                        </div>
                        <div class="form-check" id="option">
                            <input class="form-check-input" type="radio" value="3" name="question9" id="Nearly_every_day">
                            <label class="form-check-label" for="question9">Nearly every day</label>
                        </div>
                    </div>            
                </div>
                <div id="submit">
                    <button type="submit">Submit</button>
                </div>
			</form>
            </div>
            </div>
			</div>
		</div>
	<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">What is PHQ 9?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            The Patient Health Questionnaire (PHQ) is a self-report version of the Primary Care Evaluation of Mental Disorders (PRIME-MD) diagnostic tool for common mental disorders. The PHQ-9 is a brief, 9-item scale that includes only the depression-related items from the PHQ.
        </div>
        
      </div>
    </div>
  </div>
  

	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="..\..\static\js\add-child-form.js"></script>
    <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
    <script>
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages: 'bn,en,gu,hi,kn,ml,mr,ne,or,pa,sd,si,ta,te,ur',}, 'google_translate_element');
        }
    </script>
</body>
</html>