body {
  margin: 0;
  overflow-x: hidden;
}

.custom-padding {
  padding-right: 2.2rem !important;
  padding-left: 2.2rem !important;
  margin-top: 80px;
  margin-bottom: 80px;
  background-color: white;
  width: 300px;
  border-radius: 15px;
  margin-left: 550px;
  box-shadow: 5px 5px 10px rgb(252 113 105 / 15%);
  margin-left: auto;
  margin-right: auto;
}

.section {
  z-index: 5;
  background-image: url(./image/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#login-section {
  height: 92.5vh;
}

.row-login {
  justify-content: center;
  /* position: fixed; */
  width: 100%;
}

.signup-box {
  background-color: white;
  width: 600px;
  margin-left: 550px;
  box-shadow: 5px 5px 10px rgb(252 113 105 / 15%);
  margin-left: auto;
  margin-right: auto;
}

#div_id_username {
  margin-bottom: 10px;
}

.login,
.login:hover,
.login:active {
  background: #413243;
  color: #fff;
  border-radius: 15px;
  padding: 0.5rem 2rem;
}

#log {
  font-size: 13px;
  margin-left: 30%;
}
#log-login {
  font-size: 13px;
  margin-left: 30px;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
}

::-webkit-scrollbar-thumb {
  background: #fc7169;
  width: 8px;
}

::-webkit-scrollbar-thumb:hover {
  width: 10px;
}
