{% extends "users/base.html" %} {% load crispy_forms_tags %} {% block content %}
<div class="section">
  <div class="row row-login">
    <div class="container custom-padding signup-box">
      <form action="" method="POST" autocomplete="off">
        {% csrf_token %} {{form.uname|crispy}} {{form.lname|crispy}}
        {{form.fname|crispy}} {{form.user}}
        <fieldset class="form-group">
          <legend class="pb-3 pt-5 text-center">Sign Up</legend>
          {{ form|crispy }}
        </fieldset>
        <div class="form-group text-center">
          <button class="btn login mt-4" type="submit">Register</button>
        </div>
      </form>
      <p id="log">
        Have an account already? <a href="{% url 'login' %}">Sign In</a>
      </p>
    </div>
  </div>
</div>
{% endblock %} {% load static %} {% load crispy_forms_tags %}
